<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'student_app/styles.css' %}" />
  <title>หน้าแรก</title>
</head>
<body>
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">หน้าแรก</a></li>
          <li><a href="/addstudent">เพิ่มข้อมูลนักศึกษา</a></li>
          <li><a href="/student">ข้อมูลนักศึกษา</a></li>
          <li><a href="/attendance">ข้อมูลการเข้าเรียน</a></li>
          <li><a href="/scores">คะแนนของนักศึกษา</a></li>
          <li><a href="/table">ข้อมูลนักศึกษาทั้งหมด</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">ลงชื่อออก</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container text-center">
    <br><br>
    <a href="/addstudent" class="btn btn-primary" id="mainmenu">เพิ่มข้อมูลนักศึกษา</a><br><br>
    <a href="/student" class="btn btn-primary" id="mainmenu">ดูข้อมูลนักศึกษา</a><br><br>
    <a href="/attendance" class="btn btn-primary" id="mainmenu">ข้อมูลการเข้าเรียน</a><br><br>
    <a href="/scores" class="btn btn-primary" id="mainmenu">คะแนนของนักศึกษา</a><br><br>
    <a href="/table" class="btn btn-primary" id="mainmenu">ข้อมูลนักศึกษาทั้งหมด</a>
  </div>
</body>
</html>
