<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'student_app/styles.css' %}" />
  <title>ข้อมูลนักศึกษา</title>
</head>
<body>
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/index">หน้าแรก</a></li>
          <li><a href="/addstudent">เพิ่มข้อมูลนักศึกษา</a></li>
          <li class="active"><a href="/student">ข้อมูลนักศึกษา</a></li>
          <li><a href="/attendance">ข้อมูลการเข้าเรียน</a></li>
          <li><a href="/scores">คะแนนของนักศึกษา</a></li>
          <li><a href="/table">ข้อมูลนักศึกษาทั้งหมด</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">ลงชื่อออก</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>
     <div class="container">
       <h2>ข้อมูลนักศึกษา</h2>
       <br>
       <form action="{% url 'student_app:findStudent' %}" method="post">
         {% csrf_token %}
         <div class="row">
         <div class="form-group">
           <label for="student_id" class="col-sm-2 control-label">รหัสนักศึกษา</label>
           <div class="col-sm-4">
             <input type="text" name="student_id" id="student_id"  class="form-control" placeholder="กรุณากรอกรหัสนิสิต ...">
           </div>
           <div class="col-sm-2">
             <input type="submit" value="ค้นหา" class="btn btn-primary">
           </div>
         </div>
         </div>
         <br>
       </form>
       <h2>นักศึกษา</h2>
       <br>
       <form action="{% url 'student_app:updateStudent' %}" method="POST" class="form-horizontal">
         {% csrf_token %}
         <div class="form-group">
           <label for="student_id" class="col-sm-2 control-label">รหัสนักศึกษา</label>
           <div class="col-sm-4">
             {% if student_edit == True %}
             <input type="text" name="student_id" id="student_id" value="{{student.student_id}}" class="form-control" placeholder="กรุณากรอกรหัสนิสิต ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.student_id}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label  for="firstname" class="col-sm-2 control-label">ชื่อจริง</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="firstname" id="firstname" value="{{student.firstname}}" class="form-control" placeholder="กรุณากรอกชื่อจริง ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.firstname}}</label>
             {% endif %}
           </div>
           <label  for="lastname" class="col-sm-2 control-label">นามสกุล</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="lastname" id="lastname" value="{{student.lastname}}"  class="form-control" placeholder="กรุณากรอกนามสกุล ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.lastname}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label  for="id_number" class="col-sm-2 control-label">เลขประจำตัวประชาชน</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="id_number" id="id_number" value="{{student.id_number}}"  class="form-control" placeholder="กรุณากรอกเลขประจำตัวประชาชน ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.id_number}}</label>
             {% endif %}
           </div>
           <label  for="birthday" class="col-sm-2 control-label">วันเดือนปีเกิด</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="date" name="birthday" id="birthday" value="{{student.birthday|date:"Y-m-d"}}"  class="form-control">
             {% else %}
             <label class="col-sm-5 control-label">{{student.birthday}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label for="address" class="col-sm-2 control-label">ที่อยู่</label>
           <div class="col-sm-4">
              {% if student_edit == True %}
             <input type="text" name="address" id="address" value="{{student.address}}" class="form-control" placeholder="กรุณากรอกที่อยู่ ...">
             {% else %}
             <label class="col-sm-2 control-label">{{student.address}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label for="main_subject" class="col-sm-2 control-label">ชื่อวิชาเอก</label>
           <div class="col-sm-4">
             {% if student_edit == True %}
             <input type="text" name="main_subject" id="main_subject" value="{{student.main_subject}}" class="form-control" placeholder="กรุณากรอกชื่อวิชาเอก ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.main_subject}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label  for="telephone" class="col-sm-2 control-label">เบอร์โทรศัพท์</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="telephone" id="telephone" value="{{student.telephone}}"  class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์ ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.telephone}}</label>
             {% endif %}
           </div>
           <label  for="teacher_subject" class="col-sm-2 control-label">อาจารย์ประจำชั้น</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="teacher_subject" id="teacher_subject" value="{{student.teacher_subject}}" class="form-control" placeholder="กรุณากรอกอาจารย์ประจำชั้น ...">
             {% else %}
             <label class="col-sm-1 control-label">{{student.teacher_subject}}</label>
             {% endif %}
           </div>
         </div>
         <div class="form-group">
           <label  for="date_regis"  class="col-sm-2 control-label">วันที่ลงทะเบียน</label>
           <div class="col-sm-4">
             {% if student_edit == True %}
             <input type="date" name="date_regis" id="date_regis" value="{{student.date_regis|date:"Y-m-d"}}" class="form-control">
             {% else %}
             <label class="col-sm-4 control-label">{{student.date_regis}}</label>
             {% endif %}
           </div>
           <label  for="section" class="col-sm-1 control-label">Sec</label>
           <div class="col-sm-3">
             {% if student_edit == True %}
             <input type="text" name="section" id="section" value="{{student.section}}" class="form-control" placeholder="กรุณากรอกหมายเลขเซค ..." >
             {% else %}
             <label class="col-sm-1 control-label">{{student.section}}</label>
             {% endif %}
           </div>
         </div>
         <br>
         <div class="row">
           <div class="col-sm-9"></div>
          <div class="form-group">
             {% if student_edit == True %}
             <button name="id" value="{{ student.student_id }}" class="btn btn-danger">ตกลง</button>
             {% else %}
             <button name="id" value="{{ student.student_id }}" class="btn btn-warning">แก้ไข</button>
             {% endif %}
          </div>
        </div>
       </form>
     </div>
</body>
</html>
